
  
  /* Section styling */
  .email-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
  }
  
  /* Heading Styles */
  h1 {
    text-align: left;
    font-size: 24px;
    
  }
  
  h2 {
    font-size: 20px;
    text-align: left;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 0px;
  }
  
  /* Paragraph Styling */
  p {
    font-size: 14px;
    color: #555;
  }
  
  /* Saved Emails List */
  .saved-emails ul {
    list-style-type: none;
    padding: 0;
  }
  
  .saved-emails li {
    background: #eef2ff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
  }
  
  /* Add Email Button */
  .add-email-container {
    margin-top: 0px;
  }
  
 
  
  .add-email-container i {
    margin-right: 8px;
  }
  
  /* Email Form */
  .email-form {
 
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  .email-form input {
    width: 40%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 
  .email-form button:hover {
    background-color: #0056b3;
  }
  