    
.login-container {
  display: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}


.remember-forgot a,
.register-link a {
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.remember-forgot,
.register-link {
  margin-top: 10px;
}
