
.mobile-container,
.add-mobile-container {
  max-width: 750px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: left;
}

.mobile-container h2,
.add-mobile-container h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
}

.mobile {
  background: #d9d9d9;
  padding: 15px;
  border-radius: 5px;
}

.mobile h3,
.add-mobile-container h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.mobile p,
.add-mobile-container p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}


.button-container,
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.mobile button,
.button-group button {
  background-color: green;
  border: none;
  width: 50%;
  padding: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.mobile button:hover,
.button-group button:hover {
  background-color: #0056b3;
}

.mobile button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

.add-mobile-container input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: 0.3s;
  box-sizing: border-box;
  height: 42px;
}

.add-mobile-container input:focus {
  border-color: green;
  outline: none;
  background: #fff;
}

@media (max-width: 600px) {
  .mobile-container,
  .add-mobile-container {
    width: 90%;
    padding: 15px;
  }

  .mobile button,
  .button-group button {
    width: 100%;
  }
}
